{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <main>
        <div class="login-container" style="opacity: 0;">
            <img src="{{ url_for('static', filename='images/logo1.png') }}"></img>
            <div id="login-message" class="message-box hidden"></div>
            <h5 style="color: red;">{{error_message}}</h5>
            <h5 style="color: green;">{{success_message}}</h5>
            <form action="/login" method="POST" class="login-form" id="login-form">
                <div class="form-group">
                    <label for="username">Username:</label> <br>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label> <br>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="login-button"><b>Sign In</b></button>
            </form>
            <p>If you dont have a account,<br>sign up now <a href="{{ url_for('register') }}">Sign Up</a></p>
        </div>
    </main>
{% endblock %}

{% block extra_scripts %}
<script>
    // Fading in the login container when the page loads:
    document.addEventListener('DOMContentLoaded', () => {
        const loginContainer = document.querySelector('.login-container');
        if (loginContainer) {
            setTimeout(() => {
                loginContainer.style.animation = 'fadeIn 0.8s ease-in forwards';
                loginContainer.style.opacity = 1;
            }, 100);
        }
    });
</script>
{% endblock %}

